# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.idea/
android/.gradle/
android/app
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/AndroidManifest.xml
android/gradle/wrapper
android/gradle.properties
android/settings.gradle

lib/firebase_options.dart



ios
linux
macos
web
windows
.metadata
pubspec.lock

# firebase related
firebase.json
.firebaserc
**/google-services.json
**/GoogleService-Info.plist

# VS Code
.vscode/

# Mac/Linux/Windows systémové soubory
.DS_Store
*.log

# Sentry, crash reporting, atd.
*.symbols

# Optional: pokud používáš Firebase Emulator
firebase-debug.log